/** css para resenias y cuentos completos**/
 /***************************/
 body{
      margin: 0;
      background-color: DarkGray;
      }

em{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
}
 p{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  text-align: justify;
  padding-right: 30px;
  padding-left: 30px; 
}
h1{
text-align: center;
color: black; 
}
dt{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

strong{
  font-size: 20px;
  font-style: oblique;
  color: red;

}
.poema{
  text-align: center;
  justify-content: center;
  padding: 30px;
  flex-direction: row;
  margin: 0px auto

}
.imagenprincinpal{
  
  text-align: center;
  
}
.notas{
  padding-top: 8px;
  font-family:'Courier New', Courier, monospace;
  font-style: oblique;
  text-align: right;
  font-size: 15px;
}
.regresar{
  margin: 5;
  display: flex;
 justify-content: center;
 flex-direction: row;
 padding-bottom: 30px;
 padding-top: 30px;
}
 h2{
  padding-right: 30px;
  padding-left: 30px; 
  color: orangered;
 }

 .menucuentos{
  padding-right: 30px;
  padding-left: 30px; 
  color: red;
 }
 .enlaces
 {
  padding-right: 30px;
  padding-left: 30px; 
  color: darkslateblue;
  font-size: 21px;
 }
 dd{
color: palegoldenrod;
font-size: 18px;
font-style: unset;
 }
 
