
 /***************************/
 /** pagina principal**/
 /***************************/
 body{
   margin: o;
   background-color: darkgray;
   
 }

 p{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  text-align: justify;
  padding-right: 30px;
  padding-left: 30px; 
}
h2{
  padding-right: 30px;
  padding-left: 30px; 
  color: red;
 }

 
li{
  display: flex;
}
 

 h1{
  text-align: center;m
  color: palegoldenrod;
  font-style: italic;
 }

 p{
 color: black;
 }
  
  
.enlaces
{
 padding-right: 30px;
 padding-left: 30px; 
 color: ;
 font-size: 20px;
} 
 .imagenhome{
   margin:10px;
  text-align: center;
  
}